a {
color: black;
text-decoration: none;
font-family: Rockwell;
}


h1 {
	color: black;
	font-family: Rockwell;
}


.container{
height: 45px;
border-bottom: thin solid black;
background-color: white;
width: 100%;
}

.container li {
list-style-type: none;
display: inline;
padding-right: 5px;
}


.container img{
	display:block;
    float:left;
    height:29px;
	width:30px;
}

.container p{
	display:block;
    float:right;
}







